{{template "base" .}}

{{define "content"}}

    <div class="container">
            <diV class="row">
                <div class="col">
                    <h1>This is the about page</h1>
                    <a href="/">Home</a>
                </div>
            </diV>
        </div>

{{end}}